<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
</head>
<body>

<h1>忘记密码</h1>
    名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字：<input type="text" name="username" id="username"><br>
    <div id="email">
        验&nbsp;&nbsp;证&nbsp;&nbsp;码：<input type="text" name="email" id="email1"> <button onclick="getVCode()">获取验证码</button>
    </div>
    密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" id="password"><br>
    确认密码：<input type="password" name="password1" id="password1"><br>
    <button onclick="changePassword()">提交</button>
</body>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    var code = "";
    function getVCode(){
        if( $("#username").val() =="" || $("#username").val() == null){
            alert("请输入账户名！");
            return;
        }
        $.post("email", {emailAddress: $("#username").val()}, function (result) {
            if(result=="邮件发送失败"){
                alert("您的账号不支持收取验证码！");
            }else{
                code = result;
            }
        });
    }
    function changePassword() {
        if($("#username").val()==""||$("#username").val()==null){
            alert("账号不能为空！");
            return;
        }
        var password = $("#password").val();
        var password1 = $("#password1").val();
        if(password==null||password==""){
            alert("密码不能为空!");
            return;
        }
        if(password!=password1){
            alert("两次密码输入不一致！");
            return;
        }

        if ($("#email1").val() != code) {
            alert("验证码输入不正确！");
            return;
        }

        $.post("forgetPassword", {username: $("#username").val(),password: $("#password").val()}, function (result) {
            if(!result){
                alert("修改失败！");
            }else{
                alert("修改成功！");
                window.location.href="/login"
            }
        });
    }
</script>
</html>